*{


font-size: 20px;

}

body{
	background: #D9D7B6;
	justify-content: center;
	align-content: center;
}

form{
	width: 300px;
	height: 300px;
	border-radius: 10px;
	background: white;


}

h2{
	color: #565b0f;
	font-size: 25px;
	font-family: sans-serif;


}
